/* colors and styles  */

:root {
 --primary-color: hsl(94 , 59% , 35%);
 --hoverColor: #bdf094;
 --paleGreen: hsl(96 , 75% , 89%);
 --whiteColor : hsl(0 , 0% , 100%) ;
 --blackColor : hsl(0 , 0% , 18%);
 --textColor : hsl(240 , 1% , 48%);
 --bgColor : hsl(220 , 10%  , 94%) ;
 --greyText : rgb(190 , 190 , 190);
 --inputColor : hsl(330 , 12% , 97%);

 /* font  */

 --biggestFontSize : 2.5rem;
 --h1FontSize : 1.5rem;
 --h2FontSize : 1.25rem;
 --h3FontSize : 1rem;
 --normalFontSize : .938rem;
 --smallFontSize : .813rem;
 --smallestFontSize : .75rem;
};

.sideBar {
 background: var(--whiteColor);
 box-shadow: 1px 0px 4px var(--greyText);
 width: 18%;
 height: 100%;
 gap: 3rem;
 overflow : auto;

  .logoDiv{
   padding : 1.5rem 1.5rem 0 ;
   cursor: pointer;

   img {
    max-width: 20px;
    margin-right: .5rem;
    background: var(--inputColor);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: .2rem;
} // img

h2 {
 font-size: var(--h2FontSize);
 color: var(--primary-color);
} // h2

    
  } // logodiv

  .menuDiv , .settingsDiv {
   .divTitle{
    font-size: var(--h3FontSize);
    color: var(--blackColor);
    padding: 0 1.5rem 1.5rem; 
   } // divTitle
 
  }
 
   .menuLists {
     .listItem{
       // padding: .2rem 1.5rem;
       margin-left: -14px;
       width: 100%;
       position: relative;

       &::before {
        position: absolute;
        content: ""; 
        height:0;
        left: 0px;
        left: -26px;
        // left: -40px;
        width: 5px;
        bottom: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--primary-color);
       } // before

       .menuLink {
        color: var(--greyText);
        font-weight: 500;
        transition: 0;
        -webkit-transition: 0;
        -moz-transition: 0;
        -ms-transition: 0;
        -o-transition: 0;
        .icon{
           margin-right: .5rem;
         } // icon
       } // menuLink

       &:hover .menuLink {
        color: var(--primary-color);
        transition: 0;
        -webkit-transition: 0;
        -moz-transition: 0;
        -ms-transition: 0;
        -o-transition: 0;
}  
      &:hover::before {
       height: 100%;
       transform: .3s ease;
       -webkit-transform: .3s ease-     ;
       -moz-transform: .3s ease-     ;
       -ms-transform: .3s ease-     ;
       -o-transform: .3s ease-     ;
}
     } // listItem
   } // menulists
   
   .sideBarCard{
    // width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;

      .icon {
        position: absolute;
        background: var(--hoverColor);
        border: 10px solid var(--whiteColor);
        // font-size: 3 rem;
        font-size: 1.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        top: -8px ;
        right: 50%;
        transform: translate(50%);
        -webkit-transform: translate(50%);
        -moz-transform: translate(50%);
        -ms-transform: translate(50%);
        -o-transform: translate(50%);
        z-index: 100;
} // icon

     .cardContent {
      position: relative;
      padding: 1rem;
      background: var(--hoverColor);
      overflow: hidden;
      border-radius: 10%;
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      -o-border-radius: 10%;
     
     
     h3{
        font-size: var(--h3FontSize);
        margin-top: 1rem;
        padding: 1rem 0;
        font-weight: 800;
        color: var(--blackColor);
      }

      p{
        font-size:var(--normalFontSize);
        color: var(--textColor);
        padding-bottom: 1rem;
        font-weight: 500;
      } // p

      .btn {
        position: relative;
        color: var(textColor);
        z-index: 1000;
      } // btn

      .circlel , .circle2 {
        position: absolute;
        background: var(--paleGreen);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        opacity: .7;
} // circlel , .circle2

  .circlel {
    height:100px ;
    width: 100px;
    top : -50px;
    left: -50px;
  } // circlel

  .circle2 {
    height:150px ;
    width: 150px;
    bottom : -80px;
    right: -70px;
    z-index: 1;
  } // circle2

    } // cardContent
   } // sideBarCard

} // .sideBar

// media queres 

@media screen and (max-width: 820px) {
  .sideBar {
    padding-bottom: 2rem;

      .sideBarCard {
        display: none !important;
      } // .sideBarCard

  } // sideBar
} // 953 or 820

@media screen and (max-width: 951px) {
  .sideBar {
      .logoDiv {
        text-align: center;
        margin: auto;
        padding: 1.5rem .5rem 0;

          img{
            max-width: 50px;
            margin: 0;
            border-radius: 10px;
            padding: .5rem;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          } // img 

          h2 {
            display: none;
          } // h2
      } // logo div 

     .menuDiv  , .settingsDiv{
      .divTitle , .smallText {
        display: none;
      } // divTitle small text

      .menuLists{
        .listItem {
          .menuLink {
            justify-content: center;

              .icon {
                font-size: var(--h1FontSize) ;
              } // .icon
          } // menuLink
        }
      } // .menu list
     } // menu div
  } // .sideBar
} // 735

@media screen and (max-width: 434px) {
  .sideBar {
    .menuDiv , .settingsDiv {
        .menuLists {
          .listItem {
            padding: .2rem .5rem;
            // padding: .2rem -0.5rem;


              .menuLink {
                justify-content: center;

                .icon {
                  font-size: var(--h2FontSize) !important;
                } // .icon

              } // meulink

              &::before {
                left: -10px;
              }
          } // .listItem
        } // menuLists
    } // menuDiv settingdiv

    .logoDiv {
      img {
        // padding: -0.5rem;
      }
  } // .sideBar
} 

}// 390