<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title><%= myTitle %></title>
 <link rel="stylesheet" href="mystyle.css">

 <style>
  input , button {
   font-size: 33px;
  }
 </style>
</head>
<body>
 <h2>hello from the file html</h2>

 <form action="/" method="post" >
  <input name="userNameee" type="text">
  <br>
  <br>
  <button>send to DB</button>
  
 </form >

 <!-- and to make  <%  %> i just write ejs and this mean u use js -->

 <% let myName = 'mohamed' %>

 <h3> <%= myName %></h3>

 <h1>Your name is <%= arr [0].userNameee %></h1>
 <h1>the last name is <%= arr.at(-1).userNameee %></h1>


</body>
</html>