
/* colors and styles  */

:root {
 --primary-color: hsl(94 , 59% , 35%);
 --hoverColor: #bdf094;
 --paleGreen: hsl(96 , 75% , 89%);
 --whiteColor : hsl(0 , 0% , 100%) ;
 --blackColor : hsl(0 , 0% , 18%);
 --textColor : hsl(240 , 1% , 48%);
 --bgColor : hsl(220 , 10%  , 94%) ;
 --greyText : rgb(190 , 190 , 190);
 --inputColor : hsl(330 , 12% , 97%);
 --itemCardColor :  hsl(120 , 5% , 88%);
 --itemCardHover : hsl(120 , 27% , 87%);

 /* font  */

 --biggestFontSize : 2.5rem;
 --h1FontSize : 1.5rem;
 --h2FontSize : 1.25rem;
 --h3FontSize : 1rem;
 --normalFontSize : .938rem;
 --smallFontSize : .813rem;
 --smallestFontSize : .75rem;
};

.listingSection {
   flex-basis: 70%;

    .heading {
      width: 100%;
      justify-content: space-between;

        h1{
           font-size: var(--h2FontSize);
           color: var(--blackColor);
           font-weight: 700;
        } // h1

        .btn {
          border: 1px solid transparent;
          font-weight: 500;
        } // btn
        
        .btn:hover {
         border: 1px solid var(--primary-color);
        }

    } // .heading

     .secContainer {
       width: 100%;
       margin: 1rem 0;
       gap: 1rem;
       flex-wrap: wrap;
       justify-content: space-between;
      //  justify-content: space-around;

         .singleItem {
            position: relative;
            width: 150px;
            height: 170px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            background: var(--itemCardColor);

             &:hover {
               background : var(--itemCardHover);
               box-shadow: 0 2px 2px var(--inputColor);
             }

             img{ 
                max-width: 100px;
             } // img

        
             .icon {
                position: absolute;
                top: 10;
                right: 10px;
                color: var(--primary-color);
             } // icon

             h3 {
                font-size: h3;
                color: var(--blackColor);
                // padding: 1rem 0;
                padding: 0 0;
              }
} // .single 
     } // secContainer


   .sellers {
      width: 100%;
      justify-content: space-between;
      gap: 1rem;
      align-items: flex-start;

         .topSellers , .featuredSellers {
            .heading {
               padding: 1rem 0;

                  .btn {
                     padding: .5rem 1rem;
                  }
            } // heading

         .card {
            padding: 1rem 1.5rem;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            background: var(--whiteColor);
            gap: 1rem;
            box-shadow : 0 2px 4px var(--inputColor) ;

               .users {
                  padding-right: 1rem;
                  border-right: 2px solid var(--greyText);
                  display: flex;
                  gap: 2px;
                  flex-wrap: wrap;

                  .khaled {
                     img {
                        transform: translate(0px, 0px) !important;
                        -webkit-transform: translate(0px, 0px) !important;
                        -moz-transform: translate(0px, 0px) !important;
                        -ms-transform: translate(0px, 0px) !important;
                        -o-transform: translate(0px, 0px) !important;
} // img
                  } // khaled
                  
               
                  .image {                     
                     width: 30px;
                     height: 30px;
                     border-radius: 50%;
                     -webkit-border-radius: 50% ;
                     -moz-border-radius: 50% ;
                     -ms-border-radius: 50% ;
                     -o-border-radius: 50% ;
                     // object-fit: cover;
                     border: 2px solid var(--inputColor);
                     transition: .5s ease;
                     -webkit-transition: .5s ease;
                     -moz-transition: .5s ease;
                     -ms-transition: .5s ease;
                     -o-transition: .5s ease;
                     overflow: hidden;


                     img {
                     object-fit: cover;
                     transform: translate(0px, -3px);
                  }  // img

                     &:hover {
                        transform: translateY(-10px) ;
                        -webkit-transform: translateY(-10px)   ;
                        -moz-transform: translateY(-10px)   ;
                        -ms-transform: translateY(-10px)   ;
                        -o-transform: translateY(-10px)   ;
                     } // hover

                  } // image
                     
               } // users

   .cardText {
      
      span {
         color: var(--blackColor);
         font-weight: 500;

            small {
               font-weight: 400;

                  .date {
                     margin-left: 1rem;
                  } // date

            } // small
      } // span

   }  // cardText

} // card

         } // top sellers

   } // sellers


} // listing section

// media queres 

@media screen and (max-width: 1081px) {
   .listingSection {
      .sellers {
         .card {
            flex-wrap: wrap;
            .users {
               flex-wrap: initial !important;   
               // flex-direction: column;
            }  // users

         } // card

      } // sellers
   } // listing section
} // 1081

@media screen and (max-width: 1000px) {
      .listingSection {
         .singleItem {
            width: 200px !important;
         }
      } // listing section

    } // 1041

@media screen and (max-width: 990px) {
   .listingSection {
      .sellers {
         .card {
         //   flex-direction: column;
         flex-wrap: inherit; 
         
         .users {
            flex-wrap: wrap;   
            // flex-direction: column;
         }  // users
         } // card

      } // sellers
   } // listing section
}// 990

@media screen and (max-width: 918px) {
   .listingSection {
      .sellers {
         .card {
         //   flex-direction: column;
         .users {
            flex-wrap: wrap !important;
            flex-direction: row;
         }  // users
         } // card

      } // sellers
   } // listing section
} // 918

@media screen and (max-width: 757px)  {
   .listingSection {
      .sellers {
         flex-direction: column;
            .card {
               flex-direction: column;
            } // card
      } // sellers
   } // listing section
} //757

@media screen and (max-width: 744px) {
   .listingSection {
      .sellers {
         .card {
            flex-wrap: initial;
            .users {
               flex-wrap: wrap !important;   
               // flex-direction: column;
            }  // users

         } // card

      } // sellers
   } // listing section

} // 

