/* colors and styles  */
:root {
  --primary-color: hsl(94 , 59% , 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96 , 75% , 89%);
  --whiteColor: hsl(0 , 0% , 100%) ;
  --blackColor: hsl(0 , 0% , 18%);
  --textColor: hsl(240 , 1% , 48%);
  --bgColor: hsl(220 , 10% , 94%) ;
  --greyText: rgb(190 , 190 , 190);
  --inputColor: hsl(330 , 12% , 97%);
  /* font  */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.topSection .headerSectio {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topSection .headerSectio .title h1 {
  font-size: var(--h1FontSize);
  color: var(--blackColor);
  font-weight: 700;
}
.topSection .headerSectio .title p {
  font-size: var(--normalFontSize);
  color: var(textColor);
  font-weight: 500;
}
.topSection .headerSectio .searchBar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  gap: 1rem;
  -webkit-box-shadow: 0 2px 4px var(--inputColor);
          box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSectio .searchBar input {
  border: none;
  outline: none;
  background: none;
}
.topSection .headerSectio .searchBar .icon {
  color: var(--textColor);
}
.topSection .headerSectio .searchBar .icon:hover {
  color: var(--primary-color);
}
.topSection .headerSectio .adminDiv {
  gap: 1rem;
}
.topSection .headerSectio .adminDiv .icon {
  font-size: var(--h1FontSize);
  background: var(--whiteColor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0 2px 4px var(--inputColor);
          box-shadow: 0 2px 4px var(--inputColor);
  color: var(--textColor);
}
.topSection .headerSectio .adminDiv .adminImage {
  border: 3px solid var(--whiteColor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 2.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px var(--inputColor);
          box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSectio .adminDiv .adminImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.topSection .cardSection {
  margin-top: 3rem;
  gap: 1rem;
}
.topSection .cardSection .rightCard {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
}
.topSection .cardSection .rightCard .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.topSection .cardSection .rightCard .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topSection .cardSection .rightCard h1, .topSection .cardSection .rightCard p, .topSection .cardSection .rightCard .btn {
  z-index: 100;
}
.topSection .cardSection .rightCard h1 {
  font-size: var(--h1FontSize);
  color: var(--whiteColor);
  font-weight: 800;
}
.topSection .cardSection .rightCard p {
  padding: 1rem;
  color: var(--paleGreen);
  font-weight: 500;
}
.topSection .cardSection .rightCard .buttons {
  gap: 1rem;
}
.topSection .cardSection .rightCard .buttons .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.8rem 1.5rem;
  color: var(--primary-color);
  border-radius: 2px solid transparent;
  -webkit-border-radius: 2px solid transparent;
  -moz-border-radius: 2px solid transparent;
  -ms-border-radius: 2px solid transparent;
  -o-border-radius: 2px solid transparent;
}
.topSection .cardSection .rightCard .buttons .transparent {
  background: none;
  border: 2px solid var(--paleGreen);
  color: var(--paleGreen);
}
.topSection .cardSection .rightCard .buttons .transparent:hover {
  background: var(--paleGreen);
  color: var(--primary-color);
}
.topSection .cardSection .leftCard {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.topSection .cardSection .leftCard .main {
  position: relative;
  padding: 1rem;
  height: 200px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topSection .cardSection .leftCard .main::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 100%;
  background: var(--paleGreen);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.topSection .cardSection .leftCard .main .textDiv {
  z-index: 100;
}
.topSection .cardSection .leftCard .main .textDiv h1 {
  font-size: var(--h1FontSize);
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.topSection .cardSection .leftCard .main .textDiv .flex {
  gap: 1.5rem;
  font-weight: 500;
  color: var(--blackColor);
}
.topSection .cardSection .leftCard .main .textDiv .flex small {
  font-size: var(--normalFontSize);
  display: block;
  color: var(--primary-color);
  font-weight: 500;
  padding: 0.5rem 0;
}
.topSection .cardSection .leftCard .main .textDiv .link {
  margin-top: 2rem;
  cursor: pointer;
}
.topSection .cardSection .leftCard .main .textDiv .link:hover {
  color: var(--primary-color);
}
.topSection .cardSection .leftCard .main .textDiv .link:hover .icon {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.topSection .cardSection .leftCard .main .imgDiv {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.topSection .cardSection .leftCard .main .imgDiv img {
  width: 200px;
}
.topSection .cardSection .leftCard .sideBarCard {
  display: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.topSection .cardSection .leftCard .sideBarCard .icon {
  position: absolute;
  background: var(--hoverColor);
  border: 10px solid var(--whiteColor);
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
  z-index: 100;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--hoverColor);
  overflow: hidden;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.topSection .cardSection .leftCard .sideBarCard .cardContent p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent .btn {
  position: relative;
  color: var(textColor);
  z-index: 1000;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent .circlel, .topSection .cardSection .leftCard .sideBarCard .cardContent .circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.7;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent .circlel {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}
.topSection .cardSection .leftCard .sideBarCard .cardContent .circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}

@media screen and (max-width: 1393px) {
  .topSection .cardSection .leftCard {
    -ms-flex-preferred-size: 62%;
        flex-basis: 62%;
  }
}
@media screen and (max-width: 1246px) {
  .topSection .cardSection .leftCard {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
@media screen and (max-width: 1189px) {
  .topSection .cardSection .leftCard {
    -ms-flex-preferred-size: 84%;
        flex-basis: 84%;
    transform: translate(22px, 0px);
    -webkit-transform: translate(22px, 0px);
    -moz-transform: translate(22px, 0px);
    -ms-transform: translate(22px, 0px);
    -o-transform: translate(22px, 0px);
  }
}
@media screen and (max-width: 1100px) {
  .cardSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardSection .rightCard, .cardSection .leftCard {
    width: 100%;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .cardSection .leftCard {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 10px !important;
    margin-top: 2rem;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .cardSection .leftCard .main::before {
    width: 56% !important;
  }
  .cardSection .leftCard .sideBarCard {
    display: block !important;
    width: 35% !important;
  }
  .cardSection .leftCard .sideBarCard .cardContent {
    transform: translate(21px, 0px);
    -webkit-transform: translate(21px, 0px);
    -moz-transform: translate(21px, 0px);
    -ms-transform: translate(21px, 0px);
    -o-transform: translate(21px, 0px);
  }
  .cardSection .leftCard .sideBarCard .icon {
    right: 44% !important;
  }
}
@media screen and (max-width: 917px) {
  .searchBar {
    display: none !important;
  }
}
@media screen and (max-width: 893px) {
  .cardSection .leftCard .main {
    width: 100%;
  }
  .cardSection .leftCard .main::before {
    width: 97% !important;
  }
  .cardSection .leftCard .sideBarCard {
    display: none !important;
  }
}
@media screen and (max-width: 536px) {
  .headerSectio .adminDiv {
    display: none;
  }
  .headerSectio .title {
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 474px) {
  .cardSection .rightCard {
    text-align: center;
  }
  .cardSection .rightCard .buttons {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardSection .rightCard .buttons .btn {
    width: 100%;
  }
}
@media screen and (max-width: 577px) {
  .cardSection .leftCard .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .cardSection .leftCard .main .textDiv {
    margin: auto;
  }
  .cardSection .leftCard .main ::before {
    width: 100%;
  }
  .cardSection .leftCard .main img {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .topSection .cardSection .rightCard {
    text-align: center;
    padding: 2rem 1rem;
  }
  .topSection .cardSection .rightCard h1 {
    font-size: var(--h2FontSize);
  }
}