body {
  /* background: palegreen; */
}

/* colors and styles  */

:root {
  --primary-color: hsl(94 , 59% , 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96 , 75% , 89%);
  --whiteColor : hsl(0 , 0% , 100%) ;
  --blackColor : hsl(0 , 0% , 18%);
  --textColor : hsl(240 , 1% , 48%);
  --bgColor : hsl(220 , 10%  , 94%) ;
  --greyText : rgb(190 , 190 , 190);
  --inputColor : hsl(330 , 12% , 97%);

  /* font  */

  --biggestFontSize : 2.5rem;
  --h1FontSize : 1.5rem;
  --h2FontSize : 1.25rem;
  --h3FontSize : 1rem;
  --normalFontSize : .938rem;
  --smallFontSize : .813rem;
  --smallestFontSize : .75rem;
};

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease; */
};



html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap : 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left : .5rem;
}

.btn:hover {
  background-color: var(--paleGreen);
  color: var(--primary-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

/* hide the scroll thumb */

::-webkit-scrollbar {
  display: none;
}

/* media quries ======== > */

@media screen and (max-width: 1212px) {
   .heading{
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
   } 
} /*1212*/


@media screen and (max-width: 918px) {
  .heading{
     flex-direction: row;
     align-items: center;
     gap: 1rem;
  } 
} /*1212*/


@media screen and (max-width: 1212px) {
  .heading{
     flex-direction: row;
     align-items: center;
     gap: 1rem;

      
  } 

  .sellers {
      .heading{

        flex-direction: column;
      }
  }
} /*1212*/

@media screen and (max-width: 1009px) {
  .sellers {
    .heading{

      flex-direction: row;
    }
}
}
@media screen and (max-width: 500px) {
  .heading{
     flex-direction:  column;
     align-items: flex-start;
     gap: 1rem;
  } 

  .sellers {
    .heading{

      flex-direction: column;
    }
}
} /*1212*/

