/* colors and styles  */
:root {
  --primary-color: hsl(94 , 59% , 35%);
  --hoverColor: #bdf094;
  --paleGreen: hsl(96 , 75% , 89%);
  --whiteColor: hsl(0 , 0% , 100%) ;
  --blackColor: hsl(0 , 0% , 18%);
  --textColor: hsl(240 , 1% , 48%);
  --bgColor: hsl(220 , 10% , 94%) ;
  --greyText: rgb(190 , 190 , 190);
  --inputColor: hsl(330 , 12% , 97%);
  --itemCardColor: hsl(120 , 5% , 88%);
  --itemCardHover: hsl(120 , 27% , 87%);
  /* font  */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.activitySection {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.activitySection .heading {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activitySection .heading h1 {
  font-size: var(--h2FontSize);
  font-weight: 700;
  color: var(--blackColor);
}
.activitySection .heading .btn {
  border: 1px solid transparent;
}
.activitySection .heading .btn:hover {
  border: 1px solid var(--primary-color);
}
.activitySection .secContainer {
  margin-top: 1rem;
}
.activitySection .secContainer .sigleCustomer {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activitySection .secContainer .sigleCustomer img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 2px 4px var(--itemCardColor);
          box-shadow: 0 2px 4px var(--itemCardColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 1rem;
}
.activitySection .secContainer .sigleCustomer .customerDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.activitySection .secContainer .sigleCustomer .customerDetails .name {
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--blackColor);
  display: block;
}
.activitySection .secContainer .sigleCustomer .customerDetails small {
  font-weight: 500;
  color: var(--textColor);
  font-size: var(smallFontSize);
}
.activitySection .secContainer .sigleCustomer .duration {
  color: var(--textColor);
  font-weight: 500;
  font-size: var(--smallFontSize);
}

@media (max-width: 1009px) {
  .activitySection .secContainer .sigleCustomer .customerDetails .name {
    font-size: var(--normalFontSize);
  }
}
@media (max-width: 918px) {
  .activitySection {
    width: 100%;
  }
}
@media (max-width: 395px) {
  .activitySection .secContainer .sigleCustomer .customerDetails .name {
    font-size: var(--smallestFontSize);
  }
}
@media (max-width: 368px) {
  .activitySection .secContainer {
    width: 113%;
  }
}